amqp==5.3.1
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
celery==5.6.3
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
coverage==7.15.3
cryptography==49.0.0
Django==6.0.7
django-allauth==65.18.0
django-cors-headers==4.9.0
django-ratelimit==4.1.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
drf-spectacular==0.30.0
drf-yasg==1.21.15
factory_boy==3.3.3
Faker==40.36.0
idna==3.18
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jwt==1.4.0
kombu==5.6.2
packaging==26.2
pillow==12.2.0
pluggy==1.6.0
prompt_toolkit==3.0.53
psycopg2-binary==2.9.12
pycparser==3.0
Pygments==2.20.0
PyJWT==2.13.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.3.post1
PyYAML==6.0.3
redis==8.1.0
referencing==0.37.0
requests==2.34.2
rest-framework-simplejwt==0.0.2
rpds-py==2026.6.3
sentry-sdk==2.67.1
six==1.17.0
sqlparse==0.5.5
stripe==15.5.0
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
uritemplate==4.2.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.2
