{% extends 'registration/base.html' %}


{% block title %}Password Reset Email Sent{% endblock %}

{% block content %}

<div class="font-serif m-12 text-center ">
    <h2 class="text-green-500 text-lg text-center">Check Your Email</h2>
    <p>We've sent you instructions for resetting your password to the email address you provided.</p>
    <p>If you don't receive an email within a few minutes, please check your spam folder.</p>

        </br> </br> 
    
    <div class="alert alert-info">
        <p><strong class="text-red-500">Note:</strong> If an account exists with that email address, you will receive a password reset link.</p>
    </div>
    
    <button class="p-2 px-4 text-white rounded-2xl text-xs m-4 bg-gradient-to-r from-purple-400 via-pink-400 to-red-500 ">
        <a href="{% url 'login' %}">Return to Login</a>
    </button>
</div>
{% endblock %}
