{% extends 'registration/base.html' %}

{% block title %}Reset Your Password{% endblock %}
{% block content %}

<!-- <h2>Forgot Password</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit">
        Send Reset Link
    </button>
</form>
 -->

<div class="font-serif p-8 min-h-screen text-center items-center justify-center">
    <div class="m-8">
        <h2 class="text-red-500 text-xl">Forgot Your Password ?</h2>
        <p>Enter your email address below and we'll send you a link to reset your password.</p>
        
        <form method="post">
            {% csrf_token %}
            
            {% if form.errors %}
                <div class="alert alert-danger">
                    <p>Please correct the errors below.</p>
                </div>
            {% endif %}
            
            <div class="form-group">

                <label for="{{ form.email.id_for_label }}" class="font-serif text-xl">
                    Email Address:
                </label>
                <input 
                type="email" 
                name="{{ form.email.name }}" 
                id="{{ form.email.id_for_label }}" 
                class="border border-solid border-green-500 m-8 px-8 py-2 rounded-lg focus:outline-green-500" 
                value="{{ form.email.value|default:'' }}"
                required
                >
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            
            <button type="submit" class="bg bg-green-500 p-2 m-4 text-white px-3 rounded-lg">Send Reset Link</button>
        </form>
        
        <button class="p-2 px-4 text-white rounded-2xl text-xs m-4 bg-gradient-to-r from-purple-400 via-pink-400 to-red-500 ">
            <a href="{% url 'login' %}">Back to Login</a>
        </button>
    </div>
</div>
{% endblock %}














